<! DOCTYPE html>
<html lang="en">
    <head>
        <title>about</title> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="/capstone_project/statics/css/about.css">   
    </head>
    <body>
        <header>
            <img id="logo" src="/capstone_project/statics/images/logo.png" alt="logo">

        </header>
        <main>
test page
        </main>
        <footer>

        </footer>
        <script src="/capstone_project/statics/js/about.js"></script>
    </body>
</html>