<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/about.css">
</head>

<body>
    <header>
        <div>
            <a href="#">
                <img id="upper-logo" src="../statics/images/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <nav id="upper-nav">
                <a href="#">home</a>
                <a href="#">about me</a>
                <a href="#">skills</a>
                <a href="#">projects</a>
                <a href="#">contact</a>
            </nav>
        </div>
    </header>
    
    <main id="main">
            <article id="content">
                <h1>So, Who is <br> ........mesoud?</h1>
                <p>Meet Mesoud, a determined soul born in the heart of Ethiopia. Mesoud's journey into the world of
                    coding began
                    as an unexpected adventure. Initially oblivious to the wonders of coding, Mesoud stumbled upon the realm
                    of
                    web development during his time at ALX Introduction to Software Engineering online course.</p>
                <p>Through perseverance, Mesoud delved into the intricacies of full-stack web
                    development. Armed
                    with newfound knowledge and a passion for coding, Mesoud honed his skills using an array of tools and
                    technologies. Curious minds will find a deeper insight into Mesoud's journey and expertise on his Skills
                    page.</p>
                <p>Join Mesoud on his exhilarating journey as he navigates through the dynamic world of web
                    development, one
                    line of code at a time.</p>
                <p></p>
            </article>
            <aside id="mesoud">
                <img src="../statics/images/mesoud.png">
            </aside>
    </main>

    <footer>

        <div id="foot">
            <p id="copy-right">copy right@2024</p>
            <p id="Developer">Developed by waylight systems </p>
        </div>
        <div>
            <nav id="lower-nav">
                <a href="https://www.instagram.com/mesuttemam/">
                    <img id="insta" src="../statics/images/insta (1).png" alt="Instagram">
                </a>
                <a href="https://www.linkedin.com/in/mesoud-temam-474248299/">
                    <img id="linkedin" src="../statics/images/Unknown.png" alt="linkedin">
                </a>
                <a href="https://discord.com/channels/@me">
                    <img id="discord" src="../statics/images/discord.png" alt="discord">
                </a>
            </nav>
        </div>
    </footer>
    <script src="/capstone_project/statics/js/home.js"></script>
</body>

</html>


















