<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../statics/css/contact.css">

</head>

<body>
    <header>
        <div>
            <a href="#">
                <img id="upper-logo" src="../statics/images/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <nav id="upper-nav">
                <a href="../templates/home.html">home</a>
                <a href="../templates/about.html">about me</a>
                <a href="../templates/skills.html">skills</a>
                <a href="../templates/projects.html">projects</a>
                <a href="../templates/contact.html">contact</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="contact-info">
            <h2>Get in Touch</h2>
            <p>There is a word they say in ALX: "We are a Discord message away."</p>
            <p>- Cole Baidoo</p>
        </section>

        <div class="contact-wrapper">
            <section id="contact-message">
                <h2>Leave a Message</h2>
                <div class="message-content">
                    <p>👋 Hey there!</p>
                    <p>Got something on your mind? Cool beans!</p>
                    <p>Whether it's a question, a suggestion, or </p>
                    <p>just a friendly "hello," I'm all ears. </p>
                    <p>Shoot me a message using the form aside
                    <p>
                    <p> and let's make some digital magic happen!</p>
                    <p>Catch you on the flip side!</p>
                    <p>Stay awesome,</p>
                    <p>- mesoud</p>
                </div>
                <!-- Form goes here -->
            </section>


            <section id="contact-form">
                <h2>Contact Form</h2>
                <form action="/submit_form" method="POST">
                    <div>
                        <label for="name">name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="email">email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="message">message:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </div>
        <section id="address">
            <h1>contact info</h1>
            <p>-Address: churchir road, addis ababa, ethiopia ,1000</p>
            <p>-Email: mesoudtemam5@gmail.com</p>
            <p id="Stay">-Stay connected! You can find me on social media's below </p>
            <nav id="lower-nav">
                <a href="https://www.instagram.com/mesuttemam/">
                    <img class="icon" src="../statics/images/insta (1).png" alt="Instagram">
                </a>
                <a href="https://www.linkedin.com/in/mesoud-temam-474248299/">
                    <img class="icon" src="../statics/images/Unknown.png" alt="linkedin">
                </a>
                <a href="https://discord.com/channels/@me">
                    <img class="icon" src="../statics/images/discord.png" alt="discord">
                </a>
            </nav>
        </section>

    </main>
    <footer>
        <p>Copyright © 2024. All rights reserved.</p>
        <p>Developed by waylight systems</p>
    </footer>



</body>

</html>