<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/home.css">
</head>
<body>
<header>
    <div>
        <a href="#">
            <img id="upper-logo" src="../statics/images/logo.png" alt="logo">
        </a>
    </div>
    <div>
        <nav id="upper-nav">
            <a href="#">home</a>
            <a href="#">about me</a>
            <a href="#">skills</a>
            <a href="#">projects</a>
            <a href="#">contact</a>
        </nav>
    </div>
</header>
<main id="main ">
    <h3>Hey folks! </h3>
    <h1>This is Mesoud Temam</h1>
    <h1>And i am a Web Developer</h1>
</main>
<footer>
    
    <div id="foot">
        <p id="copy-right">copy right@2024</p>
        <p id="Developer">Developed by waylight systems </p>
    </div>
    <div>
        <nav id="lower-nav">
            <a href="https://www.instagram.com/mesuttemam/">
                <img id="insta" src="../statics/images/insta (1).png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/mesoud-temam-474248299/">
                <img id="linkedin" src="../statics/images/Unknown.png" alt="linkedin">
            </a>
            <a href="https://discord.com/channels/@me">
                <img id="discord" src="../statics/images/discord.png" alt="discord">
            </a>
        </nav>   
    </div>
</footer>
<script src="../statics/js/home.js"></script>
</body>
</html>
