<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/projects.css">
</head>

<body>
    <header>
        <div>
            <a href="#">
                <img id="upper-logo" src="../static/images/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <nav id="upper-nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">about</a>
                <a href="{{ url_for('skills') }}">skills</a>
                <a href="{{ url_for('projects') }}">projects</a>
                <a href="{{ url_for('submitform') }}">contact</a>
            </nav>
        </div>
        <div class="hamburger-menu">&#9776;</div>
    </header>
    <main>
        <h1>Let's Roll Out the Red Carpet for My Projects</h1>
        <div id="progress-projects">
            <section>
                <h2>HTML Advanced</h2>
                <p>This project involves implementing a webpage from a designer file using HTML. The focus is solely on
                    the HTML structure, without any CSS or styling. i will create the HTML structure based on
                    the provided wireframes and design details. </p>
                <a
                    href="https://github.com/mesoud5/alx_html_css/tree/1f57bb61fea97fbc200e9866512d836e878bb3d8/html_advanced">get
                    the github directory</a>
            </section>
            <section>
                <h2>css</h2>
                <p>This project focuses on implementing the CSS and styling for a webpage previously structured using
                    HTML Advanced.All styling should match the provided design, incorporating colors, dimensions, and
                    images as specified. </p>
                <a
                    href="https://github.com/mesoud5/alx_html_css/tree/1f57bb61fea97fbc200e9866512d836e878bb3d8/css_advanced">get
                    the github directory</a>
            </section>
            <section>
                <h2>python</h2>
                <p>
                    HELLO WORLD
                    python programming tasks cover various concepts such as basic string manipulation,
                    conditional statements, loops, and formatting output.</p>
                <a
                    href="https://github.com/mesoud5/alx_python/tree/d926d58e49a09c0506df58e85c612eadb9fc2b54/python-hello_world">get
                    the github directory</a>
            </section>
            <section>
                <h2>SQL</h2>
                <p>The tasks revolved around managing MySQL databases and users using SQL queries. Each task focused on
                    a specific aspect, such as creating users, granting privileges, creating tables with various
                    constraints, and querying data based on specific criteria.
                </p>
                <a
                    href="https://github.com/mesoud5/alx_database/tree/bb3db1328389775ff5090f152928f35e480ff315/SQL_more_queries">get
                    the github directory</a>
            </section>
            <section>
                <h2>Javascript</h2>
                <p>These tasks are focused on practicing JavaScript fundamentals and understanding key concepts such as
                    variables, functions, loops, objects, and scope.</p>
                <a
                    href="https://github.com/mesoud5/alx_javascript/tree/d27611be7f22d4d1497f5669f79b28f7b0f28be4/javascript-warm_up">get
                    the github directory</a>
            </section>
            <section>
                <h2>HTML form+js validation</h2>
                <p>These tasks focus on implementing JavaScript validation and dynamic form handling in HTML pages.
                    Overall, these tasks cover various aspects of form validation and handling user input in web
                    applications using JavaScript.</p>
                <a
                    href="https://github.com/mesoud5/alx_javascript/tree/d27611be7f22d4d1497f5669f79b28f7b0f28be4/html_js_validation">get
                    the github directory</a>
            </section>
        </div>
        <div id="final-project">
            <section>
                <h2>Capstone project</h2>
                <p>The Capstone Project stands as the crowning achievement of my voyage through the 'Intro to Software
                    Engineering' course. It's where I've brought together my newfound expertise in HTML, CSS, Python,
                    JavaScript, and Flask to craft a dynamic and purposeful web application. Serving as a testament to
                    my ability not only mine but also getting help from sources in software engineering, this project
                    embodies my journey of coding world,
                    showcasing the culmination of my skills and creativity. Welcome to my personal portfolio website.
                </p>
                <a href="https://github.com/mesoud5/alx_capstone_project.git">GitHub Repository</a>
            </section>
        </div>
    </main>
    <footer>
        <p>Copyright © 2024. All rights reserved. Developed by Waylight Systems.</p>
    </footer>
    <script src="../static/js/projects.js"></script>
</body>

</html>