<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="../statics/css/skills.css">
</head>

<body>
    <header>
        <div>
            <a href="#">
                <img id="logo" src="../statics/images/logo.png" alt="logo">
            </a>
        </div>
        <div>
            <nav id="nav-links">
                <a href="../templates/home.html">home</a>
                <a href="../templates/about.html">about me</a>
                <a href="../templates/skills.html">skills</a>
                <a href="../templates/projects.html">projects</a>
                <a href="../templates/contact.html">contact</a>
            </nav>
        </div>
    </header>
    <main>
        <article>
            <h2>Skills Developed at ALX Intro to Software Engineering</h2>

            <p>My journey at ALX Intro to Software Engineering has been instrumental in shaping my skills and expertise
                in web development. Here are some key highlights:</p>

            <div class="skills-section">
                <h2>Proficiency in Web Development Technologies</h2>
                <ul>
                    <li><strong>HTML:</strong> Crafting structured and semantically meaningful web pages.</li>
                    <li><strong>CSS:</strong> Styling web content to enhance visual appeal and user experience.</li>
                    <li><strong>JavaScript:</strong> Adding dynamic functionality and interactivity to web applications.
                    </li>
                    <li><strong>Python Flask:</strong> Building scalable and efficient web applications with Flask
                        framework.</li>
                    <li><strong>MySQL:</strong> Managing databases and implementing data storage solutions for web
                        projects.</li>
                </ul>
            </div>
            <div>
                <p>
                    Imagine a captivating movie where each scene unfolds with precision . HTML sets the stage,
                    laying out the plotline and structure of your digital narrative. CSS swoops in, adding vibrant
                    colors and stylish designs to each frame, setting the mood and tone. With a dash of JavaScript
                    magic, the storyline becomes interactive, engaging viewers in an immersive experience. Enter Python
                    Flask, the master director, seamlessly weaving together the backend functionalities, ensuring a
                    seamless production from start to finish. And behind the scenes, MySQL quietly manages the
                    backstage, storing and retrieving crucial data for the show.<br>

                    Curious to see this cinematic masterpiece come to life? Take a front-row seat and explore our
                    projects page for an amazing viewing experience!"
                </p>
            </div>


        </article>
        <aside>
            <h2>Skills Proficiency</h2>
            <p>Html</p>
            <div class="progress">
                <div class="progress-bar" style="width: 90%;"></div>
            </div>
            </div>
            <p>Css</p>
            <div class="progress">
                <div class="progress-bar" style="width: 50%;"></div>
            </div>
            </div>
            <p>Python</p>
            <div class="progress">
                <div class="progress-bar" style="width: 50%;"></div>
            </div>
            </div>
            <p>flask</p>
            <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
            </div>
            <p>Mysql</p>
            <div class="progress">
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
            </div>
            <p>javascript</p>
            <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
            </div>
        </aside>

    </main>
    <footer>
        <p id="copy-right">Copy right @2024</p>
        <p>Developed by Waylight Systems</p>
    </footer>
</body>

</html>