body {
    background-image: url('../images/Image\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 10px;
    transition: opacity 1s ease; /* Smooth transition */
}

header {
    display: flex;
    justify-content: space-between;
}
#upper-logo { 
    width: 180px;
}
#upper-nav {
    display: flex;
    margin-bottom: 150px; 
    font-size: xx-large; 
}
#upper-nav a {
    margin-left: 25px;
    color: aliceblue;
    text-decoration: none;
    transition: transform 0.3s;
}
#upper-nav a:hover {
    text-decoration-line: underline;
    
}
main {
    font-style: italic;
    font-size: xx-large;
    color: white;
}
footer {
    display: flex;
    justify-content: space-between; 
    margin-top: 210px;  
}

#lower-nav a {
    color: aliceblue;  
    margin-left: 20px;
    text-decoration: none;
    transition: transform 0.3s;
}
#lower-nav a:hover {
    transform: scale(1.2);
}
#copy-right{
    justify-content: center;
}

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
}  

#copy-right {
    margin-bottom: auto; /* Pushes the second paragraph to the bottom */
}
#insta {
    width: 29px;
    height: 29px;
}
#linkedin {
    width: 29px;
    height: 29px;
}
#discord {
    width: 29px;
    height: 29px; 
}