body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: silver;
    padding: 10px;
    
}
header {
    display: flex;
    justify-content: space-between;
}
#upper-logo { 
    width: 180px;
}
#upper-nav {
    display: flex;
    margin-bottom: 150px; 
    font-size: x-large; 
}
#upper-nav a {
    margin-left: 25px;
    color: gray;
    text-decoration: none;
    transition: transform 0.3s;
}
#upper-nav a:hover {
    text-decoration-line:underline;
}
main {
    font-style: italic;
    font-size: xx-large;
    color: silver;
}
footer {
    display: flex;
    justify-content: space-between; 
    margin-top: 210px;  
}

#lower-nav a {
    color: aliceblue;  
    margin-left: 20px;
    text-decoration: none;
    transition: transform 0.3s;
}
#lower-nav a:hover {
    transform: scale(1.2);
}
#copy-right{
    justify-content: center;
}

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
}  

#copy-right {
    margin-bottom: auto; /* Pushes the second paragraph to the bottom */
    color: gray;
}
#insta {
    width: 29px;
    height: 29px;
}
#linkedin {
    width: 29px;
    height: 29px;
}
#discord {
    width: 29px;
    height: 29px; 
}

/* style for the main page*/
#main {
    display: flex;
    width: 100%;
}

#content {
    flex: 1;
    padding: 20px;

    color: silver;
}



#image {
    max-width: 100%;
    height: auto;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust as needed */
    font-size: 24px; /* Adjust the font size as needed */
    color: gray;
}

.show {
    display: flex !important;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.show a {
    margin: 10px 0;
}

/* Styles for small mobile devices */
@media only screen and (max-width: 480px) {
    #upper-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }  
    body {
        padding: 5px;
        
    }
    header {
        flex-direction: column;
        align-items:flex-start;
    }
    #upper-logo { 
        width: 100px;
    }

    main {
        font-style: italic;
        font-size: 100%;
        color: silver;
    }
    footer {
        flex-direction: column;
        align-items: center;
        margin-top: 205px;
    }
    

 
    
    #copy-right{
        justify-content: center;
    }
    
    #foot {
        margin-left: 0;
        text-align: center;
    }  
    
    #copy-right {
        margin-bottom: auto; /* Pushes the second paragraph to the bottom */
        color: gray;
    }
    /* style for the main page*/
    #main {
        display: flex;
        width: 100%;
    }
    
    #content {
        font-size: 16px; /* Adjust font size as needed */
    }

    #mesoud {
        max-width: 100%; /* Ensure image container doesn't exceed viewport */
        overflow: hidden; /* Hide any overflowing content */
        margin-top: 40px;
    }

    #mesoud img {
        width: 100%; /* Ensure image fits within container */
        height: 70vh;
    }
}

/* Styles for medium mobile devices */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #upper-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    #content {
        font-size: 18px; /* Adjust font size as needed */
    }

    #mesoud {
        max-width: 100%; /* Ensure image container doesn't exceed viewport */
        overflow: hidden; /* Hide any overflowing content */
        margin-top: 40px;
    }

    #mesoud img {
        width: 100%; /* Ensure image fits within container */
        height: 70vh;
        
    }
}

/* Styles for medium tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #upper-nav {
        display: flex !important;
    }

    .hamburger-menu {
        display: none;
    }
}
