body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: silver;
    padding: 10px;
    
}
header {
    display: flex;
    justify-content: space-between;
}
#upper-logo { 
    width: 180px;
}
#upper-nav {
    display: flex;
    margin-bottom: 150px; 
    font-size: x-large; 
}
#upper-nav a {
    margin-left: 25px;
    color: gray;
    text-decoration: none;
    transition: transform 0.3s;
}
#upper-nav a:hover {
    text-decoration-line:underline;
}
main {
    font-style: italic;
    font-size: xx-large;
    color: silver;
}
footer {
    display: flex;
    justify-content: space-between; 
    margin-top: 210px;  
}

#lower-nav a {
    color: aliceblue;  
    margin-left: 20px;
    text-decoration: none;
    transition: transform 0.3s;
}
#lower-nav a:hover {
    transform: scale(1.2);
}
#copy-right{
    justify-content: center;
}

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
}  

#copy-right {
    margin-bottom: auto; /* Pushes the second paragraph to the bottom */
    color: gray;
}
#insta {
    width: 29px;
    height: 29px;
}
#linkedin {
    width: 29px;
    height: 29px;
}
#discord {
    width: 29px;
    height: 29px; 
}

/* style for the main page*/
#main {
    display: flex;
    width: 100%;
}

#content {
    flex: 1;
    padding: 20px;

    color: silver;
}



#image {
    max-width: 100%;
    height: auto;
}

/* Styles for small mobile devices */
@media only screen and (max-width: 480px) {
    body {
        padding: 5px;
    }
    header {
        flex-direction: column;
        align-items:flex-start;
    }
    #upper-logo { 
        width: 100px;
    }
    #upper-nav {
        display: none;
    }

    main {
        font-style: italic;
        font-size: 100%;
        color: silver;
    }
    footer {
        display:inline;
    
        margin-top: 110px;  
    }
    
    
    #copy-right{
        align-items: center;
    }
    
    #foot {
        margin-left: 0;
        text-align: center;
    }  
    
    #copy-right {
        margin-bottom: auto; /* Pushes the second paragraph to the bottom */
        color: gray;
    }
    
    /* style for the main page*/
    #main {
        display: flex;
        width: 100%;
    }
    
    #content {
        flex: 1;
        padding: 20px;
    
        color: silver;
    }
    
    
    
    #image {
        max-width: 10%;
        height: auto;
    }
}

/* Styles for medium mobile devices */
@media only screen and (min-width: 481px) and (max-width: 767px) {

}

/* Styles for medium tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

}
