/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-image: url('../images/contact.jpeg');
    background-color: rgba(255, 255, 255, 0.5); /* Set background color with transparency */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Apply blur effect to main */
main {
    background: rgba(255, 255, 255, 0.6); /* Adjust the opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    padding: 20px;
}

/* Add margin between sections */
main > section {
    margin: 10px; /* Adjust the margin as needed */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-color: rgba(255, 255, 255, 0.6); /* Set background color with transparency */
}

#upper-logo {
    width: 100px; /* Set logo width */
}

#upper-nav {
    display: flex;
}

#upper-nav a {
    margin-right: 20px; /* Add space between nav links */
    text-decoration: none;
    color: #333; /* Set text color */
    font-weight: bold;
}
#upper-nav a:hover {
    text-decoration-line: underline;
}

/* Main styles */
main {
    padding: 50px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Contact Info styles */
#contact-info {
    width: 100%; /* Cover the entire width */
    padding: 20px;
    
    margin-bottom: 20px; /* Add space below */
}

#contact-info h2 {
    margin-bottom: 10px; /* Add space below heading */
}

/* Contact Message styles */
#contact-message {
    width: calc(50% - 10px); /* Cover half of the line space */
    background-color: rgba(255, 255, 255, 0.5); /* Set background color with transparency */
    padding: 20px;
    margin-right: 20px; /* Add space between sections */
}

#contact-message p {
    margin-bottom: 10px; /* Add space below paragraphs */
}

/* Contact Form styles */
#contact-form {
    width: calc(50% - 10px); /* Cover half of the line space */
    background-color: rgba(255, 255, 255, 0.5); /* Set background color with transparency */
    padding: 20px;
}

#contact-form form {
    background-color: transparent; /* Set form background transparent */
    border: none; /* Remove form border */
}

#contact-form label {
    display: block;
    margin-bottom: 10px; /* Add space below labels */
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Add space below inputs */
    border: 1px solid #ccc; /* Add border */
}

#contact-form button {
    padding: 10px 20px;
    background-color: #333; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555; /* Change button background color on hover */
}
footer {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.6); /* Set background color with transparency */
}

.icon {
    width: 29px;
    height: 29px; 
    margin-left: 20px;
    margin-top: 10px;
}

    

#address {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Add space below inputs */
    
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust as needed */
    font-size: 24px; /* Adjust the font size as needed */
    color: black;
}

.show {
    display: flex !important;
    flex-direction: column;
    background-color: silver; 
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.show a {
    margin: 10px 0;
}

/* Styles for small mobile devices */
@media only screen and (max-width: 480px) {
    #upper-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
        /* Adjust message and form width */
    #contact-message,
    #contact-form {
        width: 100%;
    }
    #contact-form {
        margin-top: 20px;
    }
}
/* Styles for meduim mobile devices */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #upper-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    #contact-message,
    #contact-form {
        width: 100%;
    }
    #contact-form {
        margin-top: 20px;
    }
}