body {
    background-image: url('../images/skills.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Apply blur effect to article and aside */

main aside {
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    padding: 20px;
}
main article {
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    padding: 20px;

}
main article{
   margin-right: 10px;
}
header {
   /* background-color: #333;*/
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 100px;
}

#nav-links {
    display: flex;
}

#nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;

}
#nav-links a:hover {
    text-decoration-line: underline;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

article {
    width: 50%;
    color: black;
    padding: 20px;
}

aside {
    width: 50%;
    color: black;
    padding: 20px;
}

footer {
    /*background-color: #333;*/
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 47px;
}
/*  CSS for the progress bars */
.skill {
    margin-bottom: 10px;
}

.progress {
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #333;
    transition: width 1s ease-in-out;
}

/*  CSS to animate the progress bars */
@keyframes animateProgress {
    from { width: 0; }
}

.skill.animated .progress-bar {
    animation: animateProgress 1s forwards;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust as needed */
    font-size: 24px; /* Adjust the font size as needed */
    color: #fff;
}

.show {
    display: flex !important;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.show a {
    margin: 10px 0;
}

/* Styles for small mobile devices */
@media only screen and (max-width: 480px) {
    #nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    main {
        flex-direction: column;
    }

    article,
    aside {
        width: calc(100% - 40px); /* Adjust as needed */
        margin: 0 auto 20px; /* Center and add space between elements */
        padding: 20px;
        box-sizing: border-box;
    }

    .progress {
        width: 80%; /* Adjust as needed */
        margin: 15px auto;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    #nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    main {
        flex-direction: column;
    }

    article,
    aside {
        width: calc(100% - 40px); /* Adjust as needed */
        margin: 0 auto 20px; /* Center and add space between elements */
        padding: 20px;
        box-sizing: border-box;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

}
